<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jenny Erlanger | Australian Children's Poet</title>
    <meta property="og:image" content="https://res.cloudinary.com/dkft9hkkv/image/upload/v1547913148/Erlanger%20Poetry/facebook_image.jpg">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type: 'image/png' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div id="bootstrap-overrides">

      <% if current_page?('/') %>
        <%= render 'shared/navbar-home' %>
      <% else %>
        <%= render 'shared/navbar' %>
      <% end %>

      <div class="ensure-height">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
